friday/n8n_workflow_jarvis_bridge.json
{
  "name": "Bridge to J.A.R.V.I.S. (ChatGPT)",
  "nodes": [
    {
      "parameters": {
        "path": "jarvis-bridge",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ],
      "webhookId": "YOUR_WEBHOOK_ID_WILL_BE_GENERATED_HERE"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "คุณคือ J.A.R.V.I.S. ผู้ช่วย AI ของ Mossed จงตอบคำถามต่อไปนี้อย่างดีที่สุด:\n\n{{$json.body.prompt}}",
        "options": {}
      },
      "name": "Ask J.A.R.V.I.S.",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "body": "={{$json}}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        300,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Ask J.A.R.V.I.S.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask J.A.R.V.I.S.": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "YOUR_WORKFLOW_ID_WILL_BE_GENERATED_HERE"
}